<div id="<%= dom_id model %>">
  <p>
    <strong>Entry:</strong>
    <%= model.Entry %>
  </p>

  <p>
    <strong>Meal type:</strong>
    <%= model.meal_type %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= model.calories %>
  </p>

  <p>
    <strong>Proteins:</strong>
    <%= model.proteins %>
  </p>

  <p>
    <strong>Carbohydrates:</strong>
    <%= model.carbohydrates %>
  </p>

  <p>
    <strong>Fats:</strong>
    <%= model.fats %>
  </p>

</div>
